<!DOCTYPE html>
<html lang="en">

<head>
    <title>Web</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>

<body>
    <header class="comienzo">
        <nav class="cabeza">
            <h2 class="diseño">Diseño</h2>
            <h2 class="multimedia">Multimedia</h2>
            </div>
            <div ini class="ini">
                <a href="/index.html" class="inicio">Inicio</a>
                <a href="/templates/pagina2.html" class="ini2">Nosotros</a>
                <a href="/templates/pagina3.html" class="ini2">Servivios</a>
                <a href="/templates/pagina4.html" class="ini2">Contacto</a>
        </nav>
    </header>
    <section class="raya1"></section>
    <section class="boletin">
        <h3 class="text21">Suscribete a nuestro boletin </h3>
        <input type="text" class="inpu1" placeholder="Ingrese el Email...">
        <button onclick="index.html" class="boton1">Suscribete</button>
    </section>
    <main class="ma">
        <section class="todonos">
            <strong class="titi">Servicios</strong>
            <nav class="nosotros3">
                <h3 class="hola1">Diseño Web</h3>
                <p class="hola1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati quibusdam neque veniam 
                    accusamus ipsam et dicta accusantium. Nisi itaque quidem
                    aperiam eum ipsam laborum. Facere! <br/><br/> precio: $300000 - $1000000</p>
            </nav>
            <nav class="nosotros4">
                <h3 class="hola1">Desarrollo Web</h3>
                <p class="hola1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati quibusdam neque veniam 
                    accusamus ipsam et dicta accusantium. Nisi itaque quidem
                    aperiam eum ipsam laborum. Facere! <br/><br/> precio desde: $1000000</p>
            </nav>
            <nav class="nosotros5">
                <h3 class="hola1">Hosting Web</h3>
                <p class="hola1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati quibusdam neque veniam 
                    accusamus ipsam et dicta accusantium. Nisi itaque quidem
                    aperiam eum ipsam laborum. Facere! <br/><br/> precio : $300000</p>
            </nav>
        </section>
        <section>
            <nav class="hacemos">
                <h3 class="menos">Que hacemos</h3>
                <p class="dos">Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci rem dolores animi, inventore quo architecto 
                    explicabo iste veniam perferendis, ad necessitatibus maxime quibusdam, aliquam alias reiciendis at aspernatur!
                     Labore, illum Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio, earum! Cum distinctio laboriosam.</p>
            </nav>
        </section>
    </main>
    <footer class="foo1">Graphel Desarrollo Web, Copyright ©2017</footer>
    </body>