<!DOCTYPE html>
<html lang="en">

<head>
    <title>Web</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>

<body>
    <header class="comienzo">
        <nav class="cabeza">
            <h2 class="diseño">Diseño</h2>
            <h2 class="multimedia">Multimedia</h2>
            </div>
            <div ini class="ini">
                <a href="/index.html" class="inicio">Inicio</a>
                <a href="/templates/pagina2.html" class="ini2">Nosotros</a>
                <a href="/templates/pagina3.html" class="ini2">Servivios</a>
                <a href="/templates/pagina4.html" class="ini2">Contacto</a>
        </nav>
    </header>
    <section class="raya2"></section>
    <section class="boletin">
        <h3 class="text21">Suscribete a nuestro boletin </h3>
        <input type="text" class="inpu1" placeholder="Ingrese el Email...">
        <button onclick="index.html" class="boton1">Suscribete</button>
    </section>
    <main class="ma">
        <section class="todonos1">
            <h3>Contacto</h3>
            <h5>Nombre</h5>
            <input type="text" class="nombre" placeholder="Ingrese tu nombre">
            <h5>Email</h5>
            <input type="text" class="nombre" placeholder="Ingrese tu Email">
            <h5>Telefono</h5>
            <input type="text" class="nombre" placeholder="Ingrese tu telefono">
            <h5>Celular</h5>
            <input type="text" class="nombre" placeholder="Ingrese tu celular">
            <h5>Mensaje</h5>
            <input type="text" class="nombre1">
            <button onclick="pagina4.html" class="boton2">Enviar</button>
            </nav>

        </section>
        <section class="contacto">
            <nav class="hacemos1">
                <h3 class="menos">Que hacemos</h3>
                <p class="dos">Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci rem dolores animi, inventore quo architecto 
                    explicabo iste veniam perferendis, ad necessitatibus maxime quibusdam, aliquam alias reiciendis at aspernatur!
                     Labore, illum Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio, earum! Cum distinctio laboriosam.</p>
            </nav>
            <nav>
                <img src="/assets/mapaGoogle.png" class="mapa">
            </nav>
        </section>
    </main>
    <footer class="foo1">Graphel Desarrollo Web, Copyright ©2017</footer>
    </body>